.whoami .list-no-bullet {
  width: 100%;
}
.whoami--algolia {
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  display: block;
  width: 100%;
}
.whoami--algolia p {
  float: left;
}
.whoami--algolia a {
  display: block;
  height: 60px;
}
.whoami--algolia img {
  height: 60px;
  float: left;
  margin-left: 10px;
}


.trigo .list {
  background: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.reveal .construction_sheet {
  width: 700px;
  margin: 0 auto;
  display: block;
  background: white;
}

.reveal .trigo-code pre {
  font-size: 1.6rem;
}

.reveal .uk h2 {
  margin-top: 40px;
}

.reveal .conclusion blockquote {
  font-size: 4rem;
  line-height: 1.5em;
  background: rgba(0, 0, 0, .5);
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
}

.reveal .real_flag {
  width: 300px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
