*, :before, :after {
  box-sizing: border-box;
}
html {
  font-size: 48px;
}
body {
  background-image: gradient-primary();
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reveal {
  .c-flag {
    font-size: 26.5px;
    line-height: 1;
    position: relative;
    &:before, &:after {
      font-family: 'Symbols'
    }
  }
  .progress {
    height: .25rem;
    span {
      background: $titan-white;
    }
  }
}
