*, :after, :before {
  box-sizing: border-box;
}
html {
  font-size: 48px;
}
body {
  background-color: $green;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reveal {
  .slides {
    text-align: left;
  }
  pre {
    width: initial;
    code {
      padding: 0;
    }
  }
  // Make sure the font-size for the flags are correct
  .c-flag {
    font-size: 26.5px;
    line-height: 1;
    position: relative;
    &:before, &:after {
      font-family: 'Symbols'
    }
  }
}
