.reveal {
  .intro-title {
    font-size: 6rem;
  }

  .whoami-logo {
    margin-bottom: 1rem;
    display: block;
  }

  .challenge-quote {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 1.2em;
    padding: 2rem;
    text-align: center;
    opacity: 1;
    code {
      font-style: normal;
      background: none;
      font-size: 2.5rem;
      padding: 0;
      color: #FF5F5F;
    }
  }

  // Alternate Japan version
  .c-flag__jpn__alternate {
    width: 220px;
    height: 147px;
    background-color: #FFF;
    background-image: radial-gradient(circle at 110px 73.5px, #BC002D 44.1px, transparent 45.1px);
  }

  .c-flag__cze__alternate {
    width: 220px;
    height: 0px;
    border-top: 73px solid #FFF;
    border-bottom: 73px solid #E4002B;
    border-left: 110px solid #004B87;
  }

  // Displaying the list of all symbols used neatly on several lines
  .list-symbols {
    font-family: Symbols;
    color: white;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
  }
  .list-symbols--item {
      $symbol-size: 1.8em;
      font-size: $symbol-size;
      width: $symbol-size;
      line-height: $symbol-size;
      text-shadow: 1px 1px 2px black;
  }

  // Adding a background on the construction sheet to make it easier to read
  .construction_sheet {
    width: 700px;
    margin: 0 auto;
    display: block;
    background: white;
    padding: 40px;
  }

  .conclusion-quote {
    font-size: 4rem;
    line-height: 1.5em;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  }

  // Aligning real flags
  .c-flaglist__realflags {
    img {
      width: 300px;
      margin: 0 auto;
      display: block;
      overflow: hidden;
    }
    .c-flaglist--name {
      font-size: 1.4rem;
    }
  }

  // Add an opaque background on an element to make it more easily readable
  .u-opaque {
    background: rgba(0, 0, 0, .5);
  }

  // Make a list bigger
  .u-list-bigger {
    display: block;
    padding: 1rem;
    line-height: 1.5;
    font-size: 3rem;
  }

  // Full page code example
  .code-example-big {
    margin-top: 1rem;
  }
}
