// Titles
@font-face {
  font-family: 'Title';
  src: url('../fonts/AmaranthBold.eot');
  src: url('../fonts/AmaranthBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AmaranthBold.woff') format('woff'),
       url('../fonts/AmaranthBold.ttf') format('truetype'),
       url('../fonts/AmaranthBold.svg#amaranthregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Text
@font-face {
  font-family: 'Text';
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Code
@font-face {
  font-family: 'Code';
  src: url('./fonts/DejaVuSansMono.eot');
  src: url('./fonts/DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
       url('./fonts/DejaVuSansMono.woff') format('woff'),
       url('./fonts/DejaVuSansMono.ttf') format('truetype'),
       url('./fonts/DejaVuSansMono.svg#dejavu_sans_monobook') format('svg');
  font-weight: normal;
  font-style: normal;
}
