/* Headers */
.reveal {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Title", Arial, sans-serif;
    text-align: left;
  }

  // Big full page title
  // Usually used for the first slide or section separators
  h1 {
    font-family: 'Title';
    text-shadow: 2px 2px #313131;
    line-height: 1.3;
    text-align: center;
    font-size: 8rem;
  }

  // Full page title
  // Same as before, but slightly smaller. Bigger shadow to work on background
  // images
  h2 {
    font-family: 'Title';
    text-shadow: 4px 4px 3px black;
    text-align: center;
    font-size: 10rem;
  }

  // Section title
  h3 {
    text-shadow: 2px 2px 1px black;
    font-size: 7rem;
    margin-bottom: .5rem;
    padding-left: 5px; // First letter can otherwise be clipped
  }

  // Smaller section title
  h4 {
    text-shadow: 2px 2px 1px black;
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}
