// ABSOLUTE POSITIONNING
.top-3    { top:    4rem; }
.right-3  { right:  4rem; }
.bottom-3 { bottom: 4rem; }
.left-3   { left:   4rem; }

.top-4    { top:    8rem; }
.right-4  { right:  8rem; }
.bottom-4 { bottom: 8rem; }
.left-4   { left:   8rem; }

.top-5    { top:    16rem; }
.right-5  { right:  16rem; }
.bottom-5 { bottom: 16rem; }
.left-5   { left:   16rem; }

// DIMENSIONS
.w-initial { width: initial }
.mw-33 { max-width: 33%; }
.mw1 { max-width: 1rem; }
.mw2 { max-width: 2rem; }
.mw3 { max-width: 4rem; }
.mw4 { max-width: 8rem; }
.mw5 { max-width: 16rem; }

// FLEXBOX
.fl, .flex { display: flex; }
// Auto / None
.fla, .flex-auto { flex:1 1 auto; min-width:0; min-height:0; }
.fln, .flex-none  { flex: none; }
// Grow / Shrink
.flg, .flex-grow { flex-grow: 1; }
.flng, .flex-nogrow { flex-grow: 0; }
.fls, .flex-shrink { flex-shrink: 1; }
.flns, .flex-noshrink { flex-shrink: 0; }
// Row / Column
.flrw, .flex-row-wrap { display: flex; flex-direction: row; flex-wrap: wrap; }
.flrnw, .flex-row-nowrap { display: flex; flex-direction: row; }
.flcw, .flex-column-wrap { display: flex; flex-direction: column; flex-wrap: wrap; }
.flcnw, .flex-column-nowrap { display: flex; flex-direction: column; }
// Center rows
.flrcv, .flex-row-center-vertical { display: flex; align-items: center }
.flrch, .flex-row-center-horizontal { display: flex; justify-content: center }
// Center columns
.flccv, .flex-column-center-vertical { display: flex; justify-content: center }
.flcch, .flex-column-center-horizontal { display: flex; align-items: center }
// Center everything horizontaly and verticaly
.flc, .flex-center { display: flex; align-items: center; justify-content: center; }
// Horizontal spacing around elements
.flspah, .flex-horizontal-spacing-around { justify-content: space-around; }
.flspbh, .flex-horizontal-spacing-between { justify-content: space-between; }

// FONTS
.amaranth { font-family: 'Amaranth'; }
.text { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.dejavu { font-family: 'DejaVu'; }
.symbols { font-family: 'Symbols'; }

// FONT—SIZES
.f0 { font-size: 0; }
.f7 { font-size: .65rem; }
.f8 { font-size: .5rem; }

// GRADIENTS
.bg-gradient-primary { background-image: linear-gradient(to bottom right, $algolia-blue, $royal-blue); }
.bg-gradient-instantsearch { background-image: linear-gradient(to bottom right, $algolia-blue, $purple-heart); }

// LISTS
.list-inside { list-style-position: inside }

// OVERFLOW
.oh { overflow: hidden; }

// MARGINS
.mta { margin-top: auto; }
.mra { margin-right: auto; }
.mba { margin-bottom: auto; }
.mla { margin-left: auto; }

// SCALING
.scale-10 { transform: scale(.1) }
.scale-20 { transform: scale(.2) }
.scale-25 { transform: scale(.25) }
.scale-30 { transform: scale(.3) }
.scale-40 { transform: scale(.4) }
.scale-50 { transform: scale(.5) }
.scale-60 { transform: scale(.6) }
.scale-70 { transform: scale(.7) }
.scale-75 { transform: scale(.75) }
.scale-80 { transform: scale(.8) }
.scale-90 { transform: scale(.9) }

// TEXT SHADOW
.text-shadow { text-shadow: 2px 2px #313131; }




// Fake browser window
.fake-browser {
  padding: 46px 1px 1px 1px;
  background: #F7F7FF;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    background: rgba(0, 0, 0, 0.12);
    display: block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    box-shadow: 30px 0 0 rgba(0, 0, 0, 0.12), 62px 0 0 rgba(0, 0, 0, 0.12);
  }
}
