// Algolia colors
$purple-heart:  #8E43E7;
$mulberry:      #B84592;
$radical-red:   #FF4F81;
$bittersweet:   #FF6C5F;
$koromiko:      #FFC168;
$shamrock:      #2DDE98;
$java:          #1CC7D0;
$algolia-blue:  #00AEFF;
$royal-blue:    #3369E7;
$bunting:       #182359;
$deep-cove:     #050F2C;
$titan-white:   #F7F7FF;

$green:  #90A959;
$red:    #AC4142;
$white:  #E9EEDE;
