include ./partials/mixins
doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      a.fixed.b.top0.right-1.mt1.z-5.link.white.text-shadow.code.f8(target="_blank", href="https://pixelastic.github.io/css-flags/")
        |https://pixelastic.github.io/css-flags/
      .slides.white.tl

        include ./slides/home.pug
        include ./slides/who-am-i.pug

        include ./slides/craftmanship.pug
        include ./slides/companions.pug
        include ./slides/masterpiece.pug

        include ./slides/css.pug
        include ./slides/challenge.pug

        include ./slides/vexillology.pug
        include ./slides/study-of-flags.pug

        include ./slides/tricolores.pug
        include ./slides/france.pug
        include ./slides/tricolores-variations.pug
        include ./slides/tribandes.pug

        include ./slides/comfort-zone.pug
        include ./slides/real-flags.pug

        include ./slides/more-stripes.pug
        include ./slides/gradients.pug
        include ./slides/mauritius.pug
        include ./slides/layering.pug
        include ./slides/nordic-crosses.pug
        include ./slides/diagonales.pug
        include ./slides/tanzania.pug
        include ./slides/trigo.pug
        include ./slides/vexilla-mundi.pug

        include ./slides/circles.pug
        include ./slides/japan.pug

        include ./slides/stars.pug
        include ./slides/vietnam.pug
        include ./slides/symbols.pug
        include ./slides/custom-font.pug
        include ./slides/several-symbols.pug
        include ./slides/text-shadow.pug
        include ./slides/honduras.pug

        include ./slides/crescents.pug
        include ./slides/eclipse.pug
        include ./slides/mauritania.pug

        include ./slides/triangles.pug
        include ./slides/clip-path.pug
        include ./slides/czech-republic.pug

        include ./slides/united-kingdom.pug
        include ./slides/union-jack.pug
        include ./slides/commonwealth.pug

        include ./slides/todo.pug
        include ./slides/box-shadow.pug
        include ./slides/mexico.pug

        include ./slides/conclusion.pug
        include ./slides/api-client.pug
        include ./slides/questions.pug

  include ./partials/footer
