section.api-client
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 CSS API Client
    .fla.flcv
      .fla.flrnw.flspah.flcv
        .fln.flcnw.flc
          a.link.white.db.mb1.amaranth.text-shadow(href='https://www.algolia.com/css') www.algolia.com/css
          img.h4.w4.db.br2(src='./img/april-fools.png')
        .fake-browser
          img.h4.db(src='./img/api-client-screencast.gif')
