section(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code box-shadow
    .fla.flcnw.mt2.flc
      .fln.amaranth.f1.mb1.mt3
        .box-shadow-example-step1
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |box-shadow: 
            |   -10rem  1rem  0px  white,
            |    11rem  2rem  0px  purple,
            |     6rem -1rem  0px  yellow;

section(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code box-shadow
    .fla.flcnw.mt2.flc
      .fln.amaranth.f1.mb1.mt3
        .box-shadow-example-step2
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |box-shadow: 
            |   8rem   4rem  0px  white,
            |   11rem  4rem  0px  purple,
            |   11rem  1rem  0px  yellow;

