section.h4(data-background='./img/css-green.jpg')
  h3.amaranth.text-shadow.f2.mb2 Challenge
  .bg-black-90.br2.pa2.f4.tc.lh-copy
    div Build all the flags of the world in CSS
    .fragment.f4
      |...with only one 
      code.red.code &lt;div&gt;
      |&nbsp;per flag.
