section.mb3(data-background='./img/css-blue.jpg')
  .h-100.flcnw.mt3.flc.f5
    .bg-black-90.white-90.w5.br2.pa2.tc
      .i Faire l'ensemble des drapeaux des pays du monde en CSS
      .fragment.mt1
        |avec un seul 
        code.red.code &lt;div&gt;
        |&nbsp;par drapeau.
