section
  h3.amaranth.text-shadow.f2.ma0.mb2 Circles
  
  .flex.flex-wrap.flex-row
    +flag('jpn', 'Japan')
    +flag('ner', 'Niger')
    +flag('lao', 'Laos')
    +flag('bgd', 'Bangladesh')
    +flag('plw', 'Palaos')
