section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Cercles
    .fla.flc
      .fln.flrw.w-80.scale-90
        +flag('jpn', 'Japon')
        +flag('ner', 'Niger')
        +flag('lao', 'Laos')
        +flag('bgd', 'Bangladesh')
        +flag('plw', 'Palaos')
