section(data-background='./img/clip-path.jpg', data-transition="fade-out")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code clip-path

section(data-background='./img/clip-path-green.jpg', data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code clip-path
    .fla.flc
      .flrnw.flc.w-80
        .fla.flc
          .w3.h3.br2.bg-gradient-instantsearch.shadow-4
        .fln.mh2
          pre.bg-near-black.pa2.f8.lh-copy
            code.language-scss
              |clip-path: polygon(
              |    50% 0%, 
              |    100% 38%, 
              |    82% 100%, 
              |    18% 100%, 
              |    0% 38%
              |);
        .fla.flc
          .w3.h3.br2.bg-blue.bg-gradient-instantsearch.clip-path-example
