section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Commonwealth
    .fla.flc
      .fln.flrw.w-80.scale-90
        +flag('aus', 'Australie')
        +flag('nzl', 'Nouvelle Zélande')
        +flag('niu', 'Niue')
        +flag('cok', 'Îles Cook')
        +flag('tuv', 'Tuvalu')
