section
  h3.amaranth.text-shadow.f2.ma0.mb2 Commonwealth
  
  .flex.flex-wrap.flex-row
    +flag('aus', 'Australia')
    +flag('nzl', 'New Zealand')
    +flag('niu', 'Niue')
    +flag('cok', 'Cook Islands')
    +flag('tuv', 'Tuvalu')
