section.mb3(data-background='./img/compagnonnage-blue.jpg')
  .h-100.pv2.ph3.flcnw.mt3
    h3.f3.fln.amaranth.text-shadow.mb2 Compagnons
    .fla.flc
      .fln.flrnw.w-75
        .fla.w-50.flc
          img.h4.br1(src='./img/compagnons.jpg', alt='Ancienne illustration de Compagnons au travail')
        .fla.w-50.flc
          ul.list.ma0.f6.bg-black-90.br2.pa2.lh-copy.pa2
            li Artisans
            li Guildes
            li Haute qualité
            li Disciples&nbsp;/&nbsp;Maîtres
            li Règles
