section(data-background='./img/compagnonnage-green.jpg')
  h3.amaranth.text-shadow.f2.ma0.mb2 Companions
  .flex.flex-row.flex-nowrap
    .flex-auto.w-50.flex.items-center
      img.br1(src='./img/compagnons.jpg', alt='Old picture of craftsmen at work')
    .flex-auto.w-50.bg-black-90.br2.ml2.lh-copy.flex.justify-center.items-center
      ul.list-inside.ma0.f6
        li Craftsman
        li Guilds
        li High quality
        li Disciples&nbsp;/&nbsp;Masters
        li Rules
