section.h4(data-background='./img/conclusion.jpg')
  .h4.flex-column-wrap.justify-center
    .bg-black-90.br2.pa2.f4.tc.lh-copy
      |What is important is the 
      span.b.green journey
      |, 
      br
      |not the 
      span.gray destination
      |.

