section(data-background='./img/conclusion.jpg')
  .h-100.flc.pa3.tc
    .bg-black-90.br2.pa2.f4.tc.lh-copy
      |L'important n'est pas la 
      span.gray destination
      |, 
      br
      |mais le 
      span.b.green voyage
      |.

