section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Croissants
    .fla.flc
      .fln.flrw.w-80.scale-90
        +flag('mrt', 'Mauritanie')
        +flag('lby', 'Libye')
        +flag('mys', 'Malaysie')
        +flag('sgp', 'Singapour')
        +flag('tun', 'Tunisie')
        +flag('tur', 'Turquie')
