section
  h3.amaranth.text-shadow.f2.ma0.mb2 Crescents
  
  .flex.flex-wrap.flex-row
    +flag('mrt', 'Mauritania')
    +flag('lby', 'Libya')
    +flag('mys', 'Malaysia')
    +flag('sgp', 'Singapore')
    +flag('tun', 'Tunisia')
    +flag('tur', 'Turkey')
