section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Police spéciale
    .fla.flc
      .flrnw.flc.w-90
        .fla.mr3
          pre.bg-near-black.pa2.f8.lh-copy
            code.language-scss
             |@font-face {
             |  font-family: "Symbols";
             |  src: url("../fonts/Symbols.woff");
             |  [...]
             |}
          p.code.mt1.tc.text-shadow U+E000 – U+F8FF
        .fln.flc.symbols.text-shadow.w-33.flrw
            +custom_font('&#xe600;')
            +custom_font('&#xe601;')
            +custom_font('&#xe602;')
            +custom_font('&#xe603;')
            +custom_font('&#xe604;')
            +custom_font('&#xe605;')
            +custom_font('&#xe606;')
            +custom_font('&#xe607;')
            +custom_font('&#xe608;')
            +custom_font('&#xe609;')
            +custom_font('&#xe60a;')
            +custom_font('&#xe60b;')
            +custom_font('&#xe60c;')
            +custom_font('&#xe60d;')
            +custom_font('&#xe60e;')
            +custom_font('&#xe60f;')
            +custom_font('&#xe610;')
            +custom_font('&#xe611;')
            +custom_font('&#xe612;')
            +custom_font('&#xe613;')
            +custom_font('&#xe614;')
            +custom_font('&#xe615;')
            +custom_font('&#xe616;')
            +custom_font('&#xe617;')
            +custom_font('&#xe618;')
            +custom_font('&#xe619;')
            +custom_font('&#xe61a;')
            +custom_font('&#xe61b;')
            +custom_font('&#xe61c;')
            +custom_font('&#xe61d;')
            +custom_font('&#xe61e;')
            +custom_font('&#xe61f;')
            +custom_font('&#xe620;')
            +custom_font('&#xe621;')
            +custom_font('&#xe622;')
            +custom_font('&#xe623;')
            +custom_font('&#xe624;')
            +custom_font('&#xe625;')
            +custom_font('&#xe626;')
            +custom_font('&#xe627;')
            +custom_font('&#xe628;')
            +custom_font('&#xe629;')
            +custom_font('&#xe62a;')
            +custom_font('&#xe62b;')
            +custom_font('&#xe62c;')
            +custom_font('&#xe62d;')
            +custom_font('&#xe62e;')
            +custom_font('&#xe62f;')
