section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 République Tchèque
    .fla.flc
      .flrnw.flc
        .fla.mr3
          pre.bg-near-black.pa2.f8.lh-copy
            code.language-scss
              |&:before {
              |  display: block;
              |  width: 110px;
              |  height: 147px;
              |  background-color: blue;
              |  clip-path: polygon(0 0, 
              |    100% 50%, 
              |    0 100%
              |  );
              |}
        .fla.flc
          +flag('cze', 'République Tchèque', 'w4')

