section
  h3.amaranth.text-shadow.f2.ma0.mb2 Diagonal stripes
  
  .flex.flex-wrap.flex-row
    +flag('tza', 'Tanzania')
    +flag('cog', 'Congo')
    +flag('guy', 'Guyana')
    +flag('syc', 'Seychelles')
    +flag('tto', 'Trinidad and Tobago')
