section(data-background='./img/eclipse.jpg', data-transition="fade-out")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.amaranth Éclipse

section(data-background='./img/eclipse-blue.jpg', data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.amaranth Éclipse
    .fla.flc
      .flrnw.flc
        .fla.mr3
          pre.bg-near-black.pa2.f8.lh-copy
            code.language-scss
              |background-image:
              |    radial-gradient(circle at 60% 50%, 
              |                    blue 2rem, transparent 2rem),
              |    radial-gradient(circle at 40% 50%, 
              |                    red 2rem, transparent 2rem);
        .fla.flc
          .bg-white.br2.w4.h4.flc.crescent-example-step1
