section
  .flex-row-nowrap
    .flex-auto.ml2.lh-copy.flex.justify-center.items-center
      pre.bg-near-black.pa2.f7
        code.language-scss
          |width: 100px;
          |background: white;
          |border-left: 100px solid blue;
          |border-right: 100px solid red;
    .flex-auto.w-33.flex.items-center
      +flag('fra', 'France')
  

