section.gradient-example-step1(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code linear-gradient
    .fla.flc
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |background-image:
            |  linear-gradient(90deg, blue, purple);
            |)

section.gradient-example-step2(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code linear-gradient
    .fla.flc
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |background-image:
            |  linear-gradient(90deg, 
            |                  blue 0%, purple 50%,
            |                  orange 50%, yellow 100%); 
            |)

section.gradient-example-step3(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code linear-gradient
    .fla.flc
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |background-image:
            |  linear-gradient(90deg, 
            |                  blue 0%, blue 50%,
            |                  orange 50%, orange 100%);
            |)
