section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Japon
    .fla.flc
      .flrnw.flc
        .fla.mr3
          pre.bg-near-black.pa2.f7.lh-copy
            code.language-scss
               |background-color: white;
               |background-image: 
               |  radial-gradient(
               |    circle at 110px 74px, 
               |    red 44px, 
               |    transparent 44px
               |  )
        .fla.flc
          +flag('jpn', 'Japon', 'w4')
