section
  .flex.flex-row.flex-nowrap
    .flex-auto.mr2.lh-copy.flex.justify-center.items-center
      pre.bg-near-black.pa2.f7
        code.language-scss
         |background-color: white;
         |background-image: 
         |  radial-gradient(
         |    circle at 110px 74px, 
         |    red 44px, 
         |    transparent 44px
         |  )
    .flex-auto.w-33.flex.items-center
      +flag('jpn', 'Japan')
