section
  h3.amaranth.text-shadow.f2.ma0.mb2 Layering

  .flex.flex-wrap.flex-row
    +flag('ben', 'Benin')
    +flag('mdg', 'Madagascar')
    +flag('are', 'United Arab Emirates')

  pre.bg-near-black.pa2.f8.w-100
    code.language-scss
     |// Benin
     |background-image: 
     |  linear-gradient(90deg, green 0px, green 88px, transparent 88px),
     |  linear-gradient(180deg, yellow 0px, yellow 50%, red 50%, red 100%);
        
