section.mb3(data-background='./img/compagnonnage-green.jpg')
  .h-100.pv2.ph3.flcnw.mt3
    h3.f3.fln.amaranth.text-shadow.mb2 Chef-d'œuvre
    .fla.flc
      .fln.flrnw.w-90
        .fln.w-50.flc
          img.h4.br1(src='./img/masterpiece.jpg', alt='Pictures of masterpieces from the Musée du Compagnonnage in Tours')
        .fln.w-50.flc
          div.bg-black-90.br2.lh-copy.pa2
            ol.list-inside
              li 
                span.red apprentissage
              li 
                span.orange découverte
              li 
                span.yellow perfectionnement
              li 
                span.green maîtrise
//
