section(data-background='./img/compagnonnage-green.jpg')
  h3.amaranth.text-shadow.f2.ma0.mb2 Masterpiece
  .flex.flex-row.flex-nowrap
    .flex-auto.w-75.flex.items-center
      img.br1(src='./img/masterpiece.jpg', alt='Pictures of masterpieces from the Musée du Compagnonnage in Tours')
    .flex-auto.w-50.bg-black-90.br2.ml2.lh-copy.pa2.flex.items-center
      div
        |Journey
        br
        |from&nbsp;
        span.red discovering
        |, to&nbsp;
        span.orange learning
        |, to&nbsp;
        span.yellow perfecting
        |, to&nbsp;
        span.green mastering
        |.
