section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Île Maurice
    .fla.flc
      .flrnw.flc
        .fla.mr3
          pre.bg-near-black.pa2.f7.lh-copy
            code.language-scss
              |background-image:
              |  linear-gradient(180deg, 
              |    red 0%,     red 25%, 
              |    blue 25%,   blue 50%, 
              |    yellow 50%, yellow 75%, 
              |    green 75%,  green 100%
              |  )
        .fla.flc
          +flag('mus', 'Île Maurice', 'w4')

