section
  .h-100.pv3.ph3.flcnw
    a.link.white.f3.fln.code.text-shadow.mb2(href="https://github.com/pixelastic/img2css") img2css
    .fla.flc
      .flrnw.flc
        .fla.mr3
          pre.bg-near-black.pa2.f9.lh-copy
            code.language-scss
              |display: block;
              |width: 1px;
              |height: 1px;
              |box-shadow: 106px 2px 0px #864320,
              |             107px 2px 0px #8F4620,
              |             108px 2px 0px #8F4620,
              |             109px 2px 0px #8F4620,
              |             110px 2px 0px #8F4620,
              |             111px 2px 0px #8F4620,
              |             112px 2px 0px #8F4620,
              |             113px 2px 0px #8F4620,
              |             114px 2px 0px #8F4620,
              |             115px 2px 0px #8D4620,
              |             116px 2px 0px #7C3F20,
              |             104px 3px 0px #8D4520,
              |             105px 3px 0px #8F4620,
              |             [...] x 20k
        .fla.bg-white.br2.w4.h4.relative
          .mt4.ml4.mexico-example
          .absolute.f8.bottom-1.right-0.left-0.black-80.code.tc ~500Kb

