section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Plus de bandes
    .fla.flc.pv3
      .fln.flrw.w-80.scale-90
        +flag('mus', 'Île Maurice')
        +flag('bwa', 'Botswana')
        +flag('gmb', 'Gambie')
        +flag('tha', 'Thaïlande')
        +flag('cri', 'Costa Rica')
