section
  h3.amaranth.text-shadow.f2.ma0.mb2 More stripes
  
  .flex.flex-wrap.flex-row
    +flag('mus', 'Mauritius')
    +flag('bwa', 'Botswana')
    +flag('gmb', 'Gambia')
    +flag('tha', 'Thailand')
    +flag('cri', 'Costa Rica')
