section
  h3.amaranth.text-shadow.f2.ma0.mb2 Nordic crosses
  
  .flex.flex-wrap.flex-row
    +flag('swe', 'Sweden')
    +flag('fin', 'Finland')
    +flag('dnk', 'Denmark')
    +flag('nor', 'Norway')
    +flag('isl', 'Iceland')
