section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Croix Nordiques
    .fla.flc
      .fln.flrw.w-80.scale-90
        +flag('swe', 'Suède')
        +flag('fin', 'Finlande')
        +flag('dnk', 'Danemark')
        +flag('nor', 'Norvège')
        +flag('isl', 'Islande')
