section(data-background='./img/questions.jpg')

  h3.amaranth.f2.text-shadow Questions?

  .relative

    .amaranth.f3.text-shadow.h4.flex-column-wrap.justify-center.items-center
      .di.c-contact.c-contact--email(data-name='email')
        |tim@
        .di.c-contact.c-contact--website(data-name='website')
          .di.c-contact.c-contact--twitter(data-name='twitter')
            |pixelastic
          |.com


    img.h2.absolute.bottom--1.right--2(src='./img/algolia.png', alt='Algolia')

