section(data-background='./img/questions.jpg')
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Questions ?
    .fla.flc
      .amaranth.f3.text-shadow
        .di.c-contact.c-contact--email(data-name='email')
          |tim@
          .di.c-contact.c-contact--website(data-name='website')
            .di.c-contact.c-contact--twitter(data-name='twitter')
              |pixelastic
            |.com
    .fln.tr.f0
      img.h2(src='./img/algolia-dark.svg', alt='Algolia')
