section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Vrais drapeaux
    .fla.flc.pv3
      .fln.flrw.w-80.scale-90
        +flag('dza', 'Algérie')
        +flag('usa', 'États-Unis')
        +flag('nzl', 'Nouvelle Zélande')
        +flag('kor', 'Corée du Sud')
        +flag('mkd', 'Macédoine')
        +flag('bih', 'Bosnie-Herzégovine')
