section
  h3.amaranth.text-shadow.f2.ma0.mb2 Real flags
  
  .flex.flex-wrap.flex-row
    +flag('dza', 'Algeria')
    +flag('usa', 'U.S.A')
    +flag('nzl', 'New Zealand')
    +flag('kor', 'South Korea')
    +flag('mkd', 'Macedonia')
    +flag('bih', 'Bosnia')
