section
  h3.amaranth.text-shadow.f2.ma0.mb2 Several symbols
  
  .flex.flex-wrap.flex-row
    +flag('hnd', 'Honduras')
    +flag('ven', 'Venezuela')
    +flag('cpv', 'Cape Verde')
    +flag('fsm', 'Micronesia')
    +flag('geo', 'Georgia')
    +flag('mtq', 'Martinique')
