section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Étoiles
    .fla.flc
      .fln.flrw.w-80.scale-90
        +flag('vnm', 'Viêt Nam')
        +flag('mmr', 'Birmanie')
        +flag('cmr', 'Cameroun')
        +flag('lbr', 'Liberia')
        +flag('prk', 'Corée du Nord')
        +flag('gha', 'Ghana')
