section
  h3.amaranth.text-shadow.f2.ma0.mb2 Stars
  
  .flex.flex-wrap.flex-row
    +flag('vnm', 'Vietnam')
    +flag('mmr', 'Myanmar')
    +flag('cmr', 'Cameroon')
    +flag('lbr', 'Liberia')
    +flag('prk', 'North Korea')
    +flag('gha', 'Ghana')
