section.mb3(data-background='./img/vexillologie-blue.jpg')
  .h-100.pv2.ph3.flcnw.mt3
    h3.f3.fln.amaranth.text-shadow.mb2 Étude des drapeaux
    .fla.flc
      .fln.flrnw.w-90
        .fln.w-50.flc
          div.bg-black-70.br2.lh-copy.pa3
            ul.list.ma0.f6
              li Nouveau monde
              li Vocabulaire
              li Couleurs
              li Histoire
        .fln.w-50.flc
          img.br1(src='./img/funwithflags.jpg', alt='Capture d\écran de "The Big Bang Theory", avec Sheldon Cooper présentant "Fun with Flags"')
