section(data-background='./img/vexillologie-green.jpg')
  h3.amaranth.text-shadow.f2.ma0.mb2 Study of flags
  .flex.flex-row.flex-nowrap
    .flex-auto.w-50.bg-black-90.br2.mr2.lh-copy.flex.justify-center.items-center
      ul.ma0.f6
        li New world
        li Specific vocabulary
        li History
        li Needed
    .flex-auto.w-50.flex.items-center
      img.br1(src='./img/funwithflags.jpg', alt='Screenshot from The Big Bang Theory with Sheldon Cooper presenting "Fun with Flags"')
