section
  h3.amaranth.text-shadow.f2.ma0.mb2 Symbols
  
  .flex.flex-wrap.flex-row
    +flag('mar', 'Morocco')
    +flag('isr', 'Israel')
    +flag('can', 'Canada')
    +flag('lbn', 'Lebanon')
    +flag('alb', 'Albania')
    +flag('ago', 'Angola')
