section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Tanzanie
    .fla.flc
      .flrnw.flc
        .fla.mr3
          pre.bg-near-black.pa2.f7.lh-copy
            code.language-scss
              |linear-gradient(146deg, 
              |   green 0, green 93px, 
              |   yellow 93px, yellow 102px, 
              |   black 102px, black 142px, 
              |   yellow 142px, yellow 151px, 
              |   blue 151px, blue 244px
              | )
        .fla.flc
          +flag('tza', 'Tanzanie', 'w4')
