section(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code text-shadow
    .fla.flcnw.flcch
      .fln.pa3.amaranth.f1
        .text-shadow-example-step1 MiXiT
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |text-shadow: 0.1rem 0.1rem 0.5rem black;

section(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code text-shadow
    .fla.flcnw.flcch
      .fln.pa3.amaranth.f1
        .text-shadow-example-step2 MiXiT
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |text-shadow: 
            |    5rem  -3rem 0.2rem red,
            |   -8rem  -2rem 0.8rem white,
            |    9rem   2rem 0.8rem yellow

section(data-transition="fade-in")
  .h-100.pv3.ph3.flcnw
    .f4.fln.text-shadow.mb2.code text-shadow
    .fla.flcnw.flcch
      .fln.pa3.amaranth.f1
        .text-shadow-example-step3 MiXiT
      .flcnw.flc
        pre.bg-near-black.pa2.f7.lh-copy
          code.language-scss
            |text-shadow: 
            |    5rem  -3rem 0px white,
            |   -8rem  -2rem 0px white,
            |    9rem   2rem 0px white

