section
  h3.amaranth.text-shadow.f3.ma0.mb2 // TODO

  .flex-row-wrap.justify-center.items-center
    +flag_fake('./img/not-done/biot.png', 'British Indian')
    +flag_fake('./img/not-done/mexico.png', 'Mexico')
    +flag_fake('./img/not-done/grenada.png', 'Grenada')
    +flag_fake('./img/not-done/cambodia.png', 'Cambodia')
    +flag_fake('./img/not-done/kenya.png', 'Kenya')
    +flag_fake('./img/not-done/turkmenistan.png', 'Turkmenistan')
