section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.code.text-shadow.mb2 // TODO
    .fla.flc
      .fln.flrw.w-80.scale-90
        +flag_fake('./img/not-done/mexico.png', 'Mexico', 'w-30')
        +flag_fake('./img/not-done/turkmenistan.png', 'Turkmenistan', 'w-30')
        +flag_fake('./img/not-done/biot.png', 'British Indian', 'w-30')
        +flag_fake('./img/not-done/grenada.png', 'Grenada', 'w-30')
        +flag_fake('./img/not-done/cambodia.png', 'Cambodia', 'w-30')
        +flag_fake('./img/not-done/kenya.png', 'Kenya', 'w-30')
