section
  h3.amaranth.text-shadow.f2.ma0.mb2 Triangles
  
  .flex.flex-wrap.flex-row
    +flag('cze', 'Czech Republic')
    +flag('dji', 'Djibouti')
    +flag('phl', 'Philippines')
    +flag('com', 'Comorros')
    +flag('pri', 'Puerto Rico')
    +flag('bhr', 'Bahrain')
