section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Tribandes / Bibandes
    .fla.flc.pv3
      .fln.flrw.w-80.scale-90
        +flag('hun', 'Hongrie')
        +flag('nld', 'Pays-Bas')
        +flag('col', 'Colombie')
        +flag('ukr', 'Ukraine')
        +flag('idn', 'Indonésie')
        +flag('mco', 'Monaco')
