section
  h3.amaranth.text-shadow.f2.ma0.mb2 Tribandes / bibandes
  
  .flex.flex-wrap.flex-row
    +flag('hun', 'Hongria')
    +flag('nld', 'Netherlands')
    +flag('col', 'Colombia')
    +flag('ukr', 'Ukraine')
    +flag('idn', 'Indonesia')
    +flag('mco', 'Monaco')
