section
  h3.amaranth.text-shadow.f2.ma0.mb2 Tricolores
  
  .flex.flex-wrap.flex-row
    +flag('fra', 'France')
    +flag('ita', 'Italy')
    +flag('per', 'Peru')
    +flag('bel', 'Belgium')
    +flag('nga', 'Nigeria')
