section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Variations
    .fla.flc.pv3
      .fln.flrw.w-80.scale-90
        +flag('irl', 'Irlande')
        +flag('civ', 'Côte d\'Ivoire')
        +flag('rou', 'Roumanie')
        +flag('gin', 'Guinée')
        +flag('mli', 'Mali')
        +flag('tcd', 'Tchad')
