section
  h3.amaranth.text-shadow.f2.ma0.mb2 Variations
  
  .flex.flex-wrap.flex-row
    +flag('irl', 'Ireland')
    +flag('civ', 'Ivory Coast')
    +flag('rou', 'Romania')
    +flag('gin', 'Guinea')
    +flag('mli', 'Mali')
    +flag('tcd', 'Chad')
