section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Tricolores
    .fla.flc.pv3
      .fln.flrw.w-80.scale-80
        +flag('fra', 'France')
        +flag('ita', 'Italie')
        +flag('per', 'Pérou')
        +flag('bel', 'Belgique')
        +flag('nga', 'Nigeria')
