section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Trigonométrie
    .fla.flc
      .flrnw.flc
        .fla.mr3
          img.bg-white.center.db.w4.pa2.br2(src='./img/tanzania_sheet.png', alt='Feuille de construction du drapeau de la Tanzanie')
          a.white.link.mt2.db(href="https://www.vexilla-mundi.com/") www.vexilla-mundi.com
        .fla.flc
          img(src="./img/homer.png")
