section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Trigonométrie
    .fla.flc
      .flrnw
        .fla.mr3
          a.amaranth.text-shadow.white.link.db.mb1(href="https://www.vexilla-mundi.com/") www.vexilla-mundi.com
          img.bg-white.center.db.w4.pa2.br2(src='./img/tanzania_sheet.png', alt='Feuille de construction du drapeau de la Tanzanie')
        .fla
          .tc.mb1.amaranth.text-shadow Pythagore
          img.bg-white.center.db.w4.pa2.br2(src='./img/sohcahtoa.jpg', alt='Feuille de construction du drapeau de la Tanzanie')
          .tc.mt1.amaranth.text-shadow SOHCAHTOA
