section
  .flex-row-nowrap
    .flex-auto.ml2.lh-copy.flex.justify-center.items-center
      pre.bg-near-black.pa2.f7
        code.language-scss
          |display: block;
          |width: 1px;
          |height: 1px;
          |background: transparent;
          |box-shadow: 0px 0px 0px #F99E0C,
          |             1px 0px 0px #F99E0C,
          |             2px 0px 0px #F99E0C,
          |             3px 0px 0px #F99E0C,
          |             4px 0px 0px #F99E0C,
          |             5px 0px 0px #F99E0C,
          |             6px 0px 0px #F99E0C,
          |             7px 0px 0px #F99E0C,
          |             8px 0px 0px #F99E0C,
          |            [...]
    .flex-none.w-30.br1.oh.shadow-4.bg-light-gray.mr1.mb1.flex.flex-column
      .flex-auto.pa1.flex.items-center.justify-center(style='min-height:4rem')
        img.shadow-3.h4(src='./img/turkmenistan.png')
      .flex-none.pa1.bg-white.dark-gray.b.f7.h1.flex.items-center.w-100.justify-center
        |Turkmenistan

  a.amaranth.text-shadow.f6.link.white.db.tc.ma0.mt2(href='https://github.com/pixelastic/img2css')
    |https://github.com/pixelastic/img2css
  

