section
  h3.amaranth.text-shadow.f2.ma0.mb2 Union Jack

  .flex-row-wrap.justify-center.items-center
    +flag_fake('./img/uk_st_andrew.svg', 'Scotland')
    +flag_fake('./img/uk_st_george.svg', 'England')
    +flag_fake('./img/uk_st_patrick.svg', 'Ireland')
    +flag_fake('./img/uk.svg', 'United Kingdom')
