section
  .h-100.pv3.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 vexilla-mundi.com
    .fla.flc
      .flrnw.flc
        .fla.mr3
          img.bg-white.center.db.h4.pa2.br2(src='./img/saint_kitts_sheet.png', alt='Feuille de construction du drapeau de la Tanzanie')
