section.mt3.mb3
  .h-100.pv2.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Tim Carry
    .fla.flcnw.flc
      .fln.w-75
        .flrnw.flspah
          .fln.flspah
            img.h3.br2(src="./img/avatar.jpg")
          .fln.flc
            a.link.amaranth.white.text-shadow.f3(href="https://twitter.com/pixelastic/") @pixelastic
        .flrnw.mt2.flspah
          .fln.w-25.flc.bg-black-80.br2.pa1
            img.w3(src='./img/algolia-dark.svg', alt='Algolia')
          .fln.w-25.flc.bg-black-80.br2.pa1
            img.w3(src='./img/humantalks.png', alt='HumanTalks')
          .fln.w-25.flc.bg-black-80.br2.pa1
            img.w3(src='./img/techlunch.png', alt='TechLunch')
