section
  h3.amaranth.text-shadow.f3.mb3
    ="Tim Carry"
  .flex.flex-row.flex-wrap
    .flex.flex-auto.w-50.amaranth.f3.text-shadow.h3.justify-center.items-center
      ="@pixelastic"
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h2(src='./img/algolia.png', alt='Algolia')
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h1(src='./img/techlunch.png', alt='TechLunch')
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h2(src='./img/humantalks.png', alt='HumanTalks')
