section.mt3.mb3
  .h-100.pv2.ph3.flcnw
    h3.f3.fln.amaranth.text-shadow.mb2 Tim Carry
    .fla.flcnw.flc
      .fln.w-75
        .flrnw
          .fla.flc
            img.h3.br2(src="./img/avatar.jpg")
          .fla.flc
            a.link.amaranth.white.text-shadow.f3(href="https://twitter.com/pixelastic/") @pixelastic
        .flrnw.justify-around.mt2
          .fln.w-25.flc
            img.w3(src='./img/algolia.svg', alt='Algolia')
          .fln.w-25.flc
            img.w3(src='./img/humantalks.png', alt='HumanTalks')
          .fln.w-25.flc
            img.w3(src='./img/techlunch.png', alt='TechLunch')
